<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kasnaran | Everybody can eat. 🍩</title>
</head>

<body>
    <header class="header">
        <a href="#maincontent" class="skip-link">Skip To Content</a>

        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                Kasnaran
            </h1><button tabindex="0" id="menu" class="header__menu">☰</button>

        </div>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <!-- <li class="nav__item"><a class="active" href="/">Kasnaran</a></li> -->
            <li class="nav__item"><a class="link" href="/">Home</a></li>
            <li class="nav__item"><a class="link" href="#">Favorites</a></li>
            <li class="nav__item"><a class="link" href="https://www.linkedin.com/in/tuflihun/">About Us</a></li>
            <!-- <li class="nav__item">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </li> -->
        </ul>
    </nav>

    <main>
        <div class="hero" title="Hero Food">
            <div class="hero__inner">
                <h1 class="ml14">
                    <span class="text-wrapper">
                        <span tabindex="0" class="letters">“You don’t need a silver fork to eat good food.”</span>
                        <span class="line"></span>
                    </span>
                </h1>
                <h1 tabindex="0" class="ml3">- Paul Prudhomme</h1>
            </div>
        </div>

        <h1 tabindex="0" id="maincontent" class="posts__header">Our Resaturant</h1>
        <div id="" class="posts">
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="child">
                <p tabindex="0">Copyright © 2021 Kasnaran</p>
            </div>
            <div class="child2">
                <a href="https://github.com/Leguna">by Arksana Studio</a>
            </div>
        </div>

    </footer>
</body>

</html>