<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Everybody can eat. 🍩">

    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000" />

    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Kasnaran | Everybody can eat. 🍩</title>
</head>

<body>
    <header class="header">
        <a href="#maincontent" class="skip-link">Skip To Content</a>

        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                Kasnaran
            </h1><button tabindex="0" id="menu" class="header__menu">☰</button>

        </div>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <!-- <li class="nav__item"><a class="active" href="/">Kasnaran</a></li> -->
            <li class="nav__item"><a class="link" href="/">Home</a></li>
            <li class="nav__item"><a class="link" href="#/favorites">Favorites</a></li>
            <li class="nav__item"><a class="link" href="https://www.linkedin.com/in/tuflihun/">About Us</a></li>
        </ul>
    </nav>

    <main id="mainContent">
        <div class="hero" title="Hero Food">
            <div class="hero__inner">
                <h1 class="ml14">
                    <span class="text-wrapper">
                        <span tabindex="0" class="letters">“You don’t need a silver fork to eat good food.”</span>
                        <span class="line"></span>
                    </span>
                </h1>
                <h1 tabindex="0" class="ml3">- Paul Prudhomme</h1>
            </div>
        </div>

        <div class="content">
            <h1 tabindex="0" id="maincontent" class="posts__header">Our Resaturant</h1>
            <div id="" class="posts">
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="child">
                <p tabindex="0">Copyright © 2021 Kasnaran</p>
            </div>
            <div class="child2">
                <p tabindex="0" href="https://github.com/Leguna">by Arksana Studio</p>
            </div>
        </div>

    </footer>
</body>

</html>