/*
 * post
 */

.posts {
    padding: 0 16px 16px 16px;
    text-align: center;
}

.posts__header {
    text-align: center;
    color: $color2;
    padding: 32px;
}

.posts__label {
    font-size: 32px;
    font-weight: lighter;
}

.posts__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.checked {
    color: orange;
}


/*
 * post item
 */

.post-item {
    background-color: $color3;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.post-item__content {
    padding: 16px;
}

.post-item__thumbnail {
    width: 100%;
    height: auto;
}

//Rating
.post-item__date {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
}

.post-item__date__author {
    color: $color4;
    text-decoration: none;
}

.post-item__title {
    color: inherit;
    font-weight: 500;
    margin-top: 16px;
    min-width: 44px;
    min-height: 44px;
    transition: 0.3s opacity;
    font-size: 28pt;
}

.post-item__subtitle {
    font-weight: 500;
    font-size: 12px;
    margin-top: 12px;
    transition: 0.3s opacity;
}

.post-item__title:hover .post-item__subtitle:hover {
    opacity: 0.5;
}

.post-item__subtitle {
    p {
        text-decoration: none;
        color: rgb(230, 230, 230);
    }

}

.post-item__title {
    p {
        text-decoration: none;
        color: inherit;
    }

}

.post-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}