.detailContainer {
  width: 100%;
  padding: 16px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  color: white;
}

.poster {
  border-radius: 2em;
  width: 100%;
  background-color: #4d4c7d;
  max-width: 60em;
  margin: 1em auto;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.poster img {
  width: 100%;
  border-radius: 2em 2em 0 0;
}

.poster .gambar {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 2em;
}

.poster .review {
  min-width: 100px;
  min-height: 50px;
  width: 10em;
  height: 8em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 0 2em 0 2em;
  padding: 1em;
}

.poster .review i {
  font-size: small;
  color: #ffae00;
}

.poster .review p {
  font-size: 20pt;
  font-weight: 600;
  text-align: center;
}

.poster .review .white {
  color: white;
}

.poster .likeContainer .likeRound {
  right: 0;
  z-index: 1;
  position: absolute;
}

.poster .likeContainer i {
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);
  padding: 0.3em;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  color: red;
  font-size: 32pt;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.poster .restaurant__detail {
  font-size: 16pt;
  padding: 16px;
}

.poster .restaurant__detail .categories {
  width: 100%;
  margin: 0;
  font-size: small;
  font-weight: 600;
}

.poster .restaurant__detail .category {
  display: inline-block;
  background-color: #827397;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 1em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.poster .restaurant__detail .reviewUser {
  padding-left: 8px;
}

.poster .restaurant__detail .reviewUser .reviewText {
  border-bottom: 2px solid rgba(255, 255, 255, 0.226);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poster .restaurant__detail .reviewUser .reviewText span {
  white-space: nowrap;
}

.poster .textTitle {
  font-size: 10pt;
  font-weight: 300;
  color: #d4d4d4;
}

.poster .textMain {
  font-size: 14pt;
  font-weight: 500;
  padding-bottom: 16px;
}

.poster #menuItem {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px dotted white;
}

.poster h4 {
  padding-top: 1em;
}

.reviewFormContainer {
  background-color: rgba(255, 255, 255, 0.781);
  padding-left: 0.5em;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5em 0;
}

.reviewFormContainer .reviewInputName {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.reviewFormContainer .reviewTextArea {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.reviewFormContainer button {
  margin-left: auto;
  min-width: 80px;
  min-height: 50px;
  margin-left: auto;
  padding: 0.5em;
  background-color: #363062;
  border: none;
  color: white;
  border-radius: 2em;
}
