@import 'myStyle.scss';

.detailContainer {
  width: 100%;
  padding: 16px;
  margin: auto;
  display: grid;
  color: white;
}

.poster {
  border-radius: 2em;
  width: 100%;
  background-color: $color2;
  max-width: 60em;
  margin: 1em auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);

  img {
    width: 100%;
    border-radius: 2em 2em 0 0;
  }

  .gambar {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 2em;
  }

  .review {
    min-width: 100px;
    min-height: 50px;
    width: 10em;
    height: 8em;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;

    border-radius: 0 2em 0 2em;
    padding: 1em;

    i {
      font-size: small;
      color: rgb(255, 174, 0);
    }

    p {
      font-size: 20pt;
      font-weight: 600;
      text-align: center;

    }

    .white {
      color: white;
    }
  }

  .likeContainer {

    .likeRound {
      min-width: 44px;
      min-height: 44px;
      width: 1.5em;
      height: 1.5em;
      right: 0;
      z-index: 1;
      position: absolute;
      border: none;
      background-color: rgba(255,
          255,
          255,
          0);


      margin: 1em;


      transform: translate(-100%, -150%);
    }

    i {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);

      width: 50px;
      height: 50px;

      padding: 0.3em;
      background-color: white;
      border-radius: 50%;
      color: red;
      font-size: 32pt;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
    }
  }

  .restaurant__detail {
    font-size: 16pt;
    padding: 16px;

    .categories {
      width: 100%;
      margin: 0;
      font-size: small;
      font-weight: 600;
    }

    .category {
      display: inline-block;
      background-color: $color3;
      width: fit-content;
      padding: 12px;
      margin-top: 8px;

      margin-right: 8px;
      border-radius: 1em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .reviewUser {
      padding-left: 8px;
      word-wrap: initial;
      overflow: hidden;

      @media only screen and (max-width: 600px) {
        .reviewDateText {
          display: none;
        }
      }

      .reviewText {
        border-bottom: 2px solid rgba(255, 255, 255, 0.226);
        display: flex;

      }
    }

    .reviewInput {
      border-radius: 5px;
      background-color: #f2f2f24d;
      padding: 0.4em 0.4em;
      margin: 0.2em;

      input[type=text],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

    }
  }


  .textTitle {
    font-size: 10pt;
    font-weight: 300;
    color: $gray;
  }

  .textMain {
    font-size: 14pt;
    font-weight: 500;
    padding-bottom: 16px;
  }


  #menuItem {
    margin-left: 8px;
    display: flex;


    border-bottom: 2px dotted white;
  }

  h4 {
    padding-top: 1em;
  }
}


.reviewFormContainer {
  background-color: rgba(255, 255, 255, 0.781);
  padding-left: 0.5em;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;

  .reviewInputName {
    border: none;
    background-color: rgba(0,
        0,
        0,
        0);
    color: black;
  }

  .reviewTextArea {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    vertical-align: middle;

    width: 60%;
  }

  button {
    margin-left: auto;
    min-width: 80px;
    min-height: 50px;
    margin-left: auto;
    padding: 0.5em;
    background-color: $color1;
    border: none;
    color: white;
    border-radius: 2em;
  }
}